<%= form_with(model: @gig, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :request_id %>

    <%= f.collection_select :request_id, Request.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :provider_id, value: @provider.id %>

  <div class="form-group">
    <%= f.label :status %>

    <%= f.text_field :status, class: "form-control" %>
  </div>

  <%= f.submit "Create gig", class: "btn btn-block btn-outline-secondary" %>
<% end %>
