<div class="card mb-3">
  <h2 class="card-header h4">
    Add On Service #<%= add_on_service.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Fast charge</dt>
      <dd><%= add_on_service.fast_charge %></dd>

      <dt>Regular charge</dt>
      <dd><%= add_on_service.regular_charge %></dd>

      <dt>Interior cleaning</dt>
      <dd><%= add_on_service.interior_cleaning %></dd>

      <dt>Exterior cleaning</dt>
      <dd><%= add_on_service.exterior_cleaning %></dd>

      <dt>Daily checks</dt>
      <dd><%= add_on_service.daily_checks %></dd>

      <dt>Scheduled maintenance</dt>
      <dd><%= add_on_service.scheduled_maintenance %></dd>

      <dt>Maintenance datetime</dt>
      <dd><%= add_on_service.maintenance_datetime %></dd>

      <dt>Maintenance location</dt>
      <dd>
        <div>
          <%= render partial: "add_on_services/one_photo_map" %>
        </div>
      </dd>

      <dt>Request</dt>
      <dd>
        <% if @add_on_service.request.present? %>
          <%= link_to add_on_service.request, add_on_service.request %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back add_on_service, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_add_on_service_url(add_on_service), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to add_on_service, method: :delete, data: { confirm: "Do you really want to delete this add_on_service?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(add_on_service.updated_at) %> ago
  </div>
</div>
