<%= form_with(model: @chat, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :provider_id %>

    <%= f.collection_select :provider_id, Provider.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :message %>

    <%= f.text_field :message, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :gig_id %>

    <%= f.collection_select :gig_id, Gig.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create chat", class: "btn btn-block btn-outline-secondary" %>
<% end %>
