<div class="card mb-3">
  <h2 class="card-header h4">
    Request #<%= request.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Pickup datetime</dt>
      <!-- Display pickup_datetime start -->
      <dd><%= request.pickup_datetime %></dd>
      <!-- Display pickup_datetime end -->

      <dt>Pickup location</dt>
      <!-- Display pickup_location start -->
      <dd><%= request.pickup_location %></dd>
      <!-- Display pickup_location end -->

      <dt>Dropoff datetime</dt>
      <!-- Display dropoff_datetime start -->
      <dd><%= request.dropoff_datetime %></dd>
      <!-- Display dropoff_datetime end -->

      <dt>Dropoff location</dt>
      <!-- Display dropoff_location start -->
      <dd><%= request.dropoff_location %></dd>
      <!-- Display dropoff_location end -->

      <dt>User</dt>
      <!-- Display user_id start -->
      <dd><%= request.user_id %></dd>
      <!-- Display user_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back request, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link request start -->
      <div class="col">
        <%= link_to edit_request_url(request), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link request end -->

      <!-- Delete link request start -->
      <div class="col">
        <%= link_to request, method: :delete, data: { confirm: "Do you really want to delete this request?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link request end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(request.updated_at) %> ago
  </div>
</div>
