<% was_validated = request.errors.any? %>

<%= form_with(model: request, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% pickup_datetime_class = "form-control" %>
    <% pickup_datetime_was_invalid = request.errors.include?(:pickup_datetime) %>

    <% if was_validated %>
      <% if pickup_datetime_was_invalid %>
        <% pickup_datetime_class << " is-invalid" %>
      <% else %>
        <% pickup_datetime_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :pickup_datetime %>
    <%= f.datetime_select :pickup_datetime, class: pickup_datetime_class, placeholder: "Enter pickup datetime" %>
    <% if pickup_datetime_was_invalid %>
      <% request.errors.full_messages_for(:pickup_datetime).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% pickup_location_class = "form-control" %>
    <% pickup_location_was_invalid = request.errors.include?(:pickup_location) %>

    <% if was_validated %>
      <% if pickup_location_was_invalid %>
        <% pickup_location_class << " is-invalid" %>
      <% else %>
        <% pickup_location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :pickup_location %>
    <%= f.text_field :pickup_location, class: pickup_location_class, placeholder: "Enter pickup location" %>
    <% if pickup_location_was_invalid %>
      <% request.errors.full_messages_for(:pickup_location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% dropoff_datetime_class = "form-control" %>
    <% dropoff_datetime_was_invalid = request.errors.include?(:dropoff_datetime) %>

    <% if was_validated %>
      <% if dropoff_datetime_was_invalid %>
        <% dropoff_datetime_class << " is-invalid" %>
      <% else %>
        <% dropoff_datetime_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dropoff_datetime %>
    <%= f.datetime_select :dropoff_datetime, class: dropoff_datetime_class, placeholder: "Enter dropoff datetime" %>
    <% if dropoff_datetime_was_invalid %>
      <% request.errors.full_messages_for(:dropoff_datetime).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% dropoff_location_class = "form-control" %>
    <% dropoff_location_was_invalid = request.errors.include?(:dropoff_location) %>

    <% if was_validated %>
      <% if dropoff_location_was_invalid %>
        <% dropoff_location_class << " is-invalid" %>
      <% else %>
        <% dropoff_location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dropoff_location %>
    <%= f.text_field :dropoff_location, class: dropoff_location_class, placeholder: "Enter dropoff location" %>
    <% if dropoff_location_was_invalid %>
      <% request.errors.full_messages_for(:dropoff_location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
