<%= search_form_for @q, :class => collapse_search_form, :id => "requests_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :pickup_datetime, "Pickup datetime" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='pickup_datetimegteqPicker' data-target-input="nearest">
          <%= f.text_field :pickup_datetime_gteq, :class => "form-control datetimepicker-input", :placeholder => "Pickup datetime greater than or equal to", :data => {:target => '#pickup_datetimegteqPicker'} %>
          <div class="input-group-append" data-target='#pickup_datetimegteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='pickup_datetimelteqPicker' data-target-input="nearest">
          <%= f.text_field :pickup_datetime_lteq, :class => "form-control datetimepicker-input", :placeholder => "Pickup datetime less than or equal to", :data => {:target => '#pickup_datetimelteqPicker'} %>
          <div class="input-group-append" data-target='#pickup_datetimelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#pickup_datetimegteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#pickup_datetimelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#pickup_datetimegteqPicker').on("dp.change", function (e) {
              $('#pickup_datetimelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#pickup_datetimelteqPicker').on("dp.change", function (e) {
              $('#pickup_datetimegteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :dropoff_datetime, "Dropoff datetime" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='dropoff_datetimegteqPicker' data-target-input="nearest">
          <%= f.text_field :dropoff_datetime_gteq, :class => "form-control datetimepicker-input", :placeholder => "Dropoff datetime greater than or equal to", :data => {:target => '#dropoff_datetimegteqPicker'} %>
          <div class="input-group-append" data-target='#dropoff_datetimegteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='dropoff_datetimelteqPicker' data-target-input="nearest">
          <%= f.text_field :dropoff_datetime_lteq, :class => "form-control datetimepicker-input", :placeholder => "Dropoff datetime less than or equal to", :data => {:target => '#dropoff_datetimelteqPicker'} %>
          <div class="input-group-append" data-target='#dropoff_datetimelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#dropoff_datetimegteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#dropoff_datetimelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#dropoff_datetimegteqPicker').on("dp.change", function (e) {
              $('#dropoff_datetimelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#dropoff_datetimelteqPicker').on("dp.change", function (e) {
              $('#dropoff_datetimegteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :created_at, "User Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='usergteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :user_created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "User Created at greater than or equal to", :data => {:target => '#usergteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#usergteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='userlteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :user_created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "User Created at less than or equal to", :data => {:target => '#userlteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#userlteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#usergteqcreated_atPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#userlteqcreated_atPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#usergteqcreated_atPicker').on("dp.change", function (e) {
              $('#userlteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#userlteqcreated_atPicker').on("dp.change", function (e) {
              $('#usergteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :created_at, "AddOnService Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='add_on_servicesgteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :add_on_services_created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "AddOnService Created at greater than or equal to", :data => {:target => '#add_on_servicesgteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#add_on_servicesgteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='add_on_serviceslteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :add_on_services_created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "AddOnService Created at less than or equal to", :data => {:target => '#add_on_serviceslteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#add_on_serviceslteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#add_on_servicesgteqcreated_atPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#add_on_serviceslteqcreated_atPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#add_on_servicesgteqcreated_atPicker').on("dp.change", function (e) {
              $('#add_on_serviceslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#add_on_serviceslteqcreated_atPicker').on("dp.change", function (e) {
              $('#add_on_servicesgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :providers_name_cont, "Providers name contains" %>
    <%= f.text_field :providers_name_cont, :class => "form-control", :placeholder => "Providers name contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/requests" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#requests_filters">
  Show filters
</a>
