<%= form_with(model: @gig, local: true) do |f| %>

  <%= f.hidden_field :request_id, value: @request.id %>

  <div class="form-group">
    <%= f.label :provider_id %>

    <%= f.collection_select :provider_id, Provider.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status %>

    <%= f.text_field :status, class: "form-control" %>
  </div>

  <%= f.submit "Create gig", class: "btn btn-block btn-outline-secondary" %>
<% end %>
