<% was_validated = gig.errors.any? %>

<%= form_with(model: gig, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% request_class = "form-control" %>
    <% request_was_invalid = gig.errors.include?(:request) %>

    <% if was_validated %>
      <% if request_was_invalid %>
        <% request_class << " is-invalid" %>
      <% else %>
        <% request_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :request_id %>
    <%= f.collection_select :request_id, Request.all, :id, :to_s, {}, class: "form-control" %>
    <% if request_was_invalid %>
      <% gig.errors.full_messages_for(:request).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% provider_class = "form-control" %>
    <% provider_was_invalid = gig.errors.include?(:provider) %>

    <% if was_validated %>
      <% if provider_was_invalid %>
        <% provider_class << " is-invalid" %>
      <% else %>
        <% provider_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :provider_id %>
    <%= f.collection_select :provider_id, Provider.all, :id, :to_s, {}, class: "form-control" %>
    <% if provider_was_invalid %>
      <% gig.errors.full_messages_for(:provider).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% status_class = "form-control" %>
    <% status_was_invalid = gig.errors.include?(:status) %>

    <% if was_validated %>
      <% if status_was_invalid %>
        <% status_class << " is-invalid" %>
      <% else %>
        <% status_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :status %>
    <%= f.text_field :status, class: status_class, placeholder: "Enter status" %>
    <% if status_was_invalid %>
      <% gig.errors.full_messages_for(:status).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
